[submodule "Odin-Docgen"]
	path = Odin-Docgen
	url = https://github.com/HyperSonic-Games/Odin-Docgen.git
[submodule "internal_libs/MONT"]
	path = internal_libs/MONT
	url = https://github.com/HyperSonic-Games/MONT.git
